/* App.css Anthony Healy */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
  background-color: #181818;
  color: #e0e0e0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card {
  width: 95%;
  height: 80vh;
  background-color: #202020;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  position: relative; /* added for absolute positioning inside */
}

/* For medium screens */
@media (min-width: 768px) and (max-width: 1200px) {
  .card {
    width: 85%; /* Increase width for medium screens */
  }
}

/* For larger screens */
@media (min-width: 1201px) {
  .card {
    width: 75%; /* Increase width for large screens */
  }
}

.dark-mode {
  background-color: #333;
  color: white;
}

.leaflet-container .leaflet-marker-icon {
  background-image: url('./Images/leaflet-images/marker-icon.png');
}

.leaflet-container .leaflet-marker-shadow {
  background-image: url('./Images/leaflet-images/marker-shadow.png');
}
